<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.ljm.secw.mapper.AttendanceMapper">

    <select id="findAllAttendance" resultType="AttendanceDTO" parameterType="Integer">
        select * from t_attendance a where clazz_id=#{clazzId}
    </select>
    <select id="findResult" parameterType="Integer" resultType="AttendanceResult">
        select * from t_attendance_result where student_id=#{studentid}
    </select>
    <!--<resultMap id="AttendanceResult" type="Attendance">
        <id property="id" column="id"/>
        <result property="attendanceName" column="attendance_name"/>
        <result property="startAt" column="start_at"/>
        <result property="endAt" column="end_at"/>
        <association property="attendanceResult" javaType="AttendanceResult">
            <result property="attendedAt" column="attended_at"/>
        </association>

    </resultMap>-->
    <insert id="insertStuAttendance" parameterType="AttendanceResult">
        insert into t_attendance_result(attendance_id, student_id) values(#{attendanceId},#{studentId})
    </insert>
    <update id="updateResult" parameterType="AttendanceResult">
        update t_attendance_result set attended_at=#{attendedAt} where attendance_id=#{attendanceId} and student_id=#{studentId}
    </update>
    <select id="findStuResult" parameterType="Integer" resultType="AttendanceResult">
        select *
        from t_attendance_result where attendance_id=#{attendanceId};
    </select>
    <select id="findAllStu" parameterType="Integer" resultType="Student">
        select * from t_student where clazz_id=#{clazzId}
    </select>
    <insert id="insertAttendance" parameterType="AttendanceDTO" useGeneratedKeys="true" keyProperty="id">
        insert into t_attendance(attendance_name, start_at, end_at, issuer, clazz_id) values(#{attendanceName},#{startAt},#{endAt},#{issuer},#{clazzId})
    </insert>
    <update id="updateEndAt" parameterType="AttendanceDTO">
        update t_attendance set end_at=#{endAt} where id=#{id}
    </update>

</mapper>