<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.ljm.secw.mapper.ChangePwdMapper">

    <select id="selectStudentEmailByAccount" resultType="java.lang.String" parameterType="java.lang.String">
        select email
        from t_student
        where account = #{account}
    </select>

    <select id="selectTeacherEmailByAccount" resultType="java.lang.String" parameterType="java.lang.String">
        select email
        from t_teacher
        where account = #{account}
    </select>

    <update id="updateStudentPassword">
        update t_student
        set pwd = #{pwd}
        where account = #{account}
    </update>

    <update id="updateTeacherPassword">
        update t_teacher
        set pwd = #{pwd}
        where account = #{account}
    </update>

</mapper>