<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.ljm.secw.mapper.QuizMapper">

    <insert id="insertQuiz" parameterType="team.ljm.secw.entity.Clazz">
        insert into t_clazz(quiz_link) values(#{quizLink})
    </insert>

    <update id="updateQuiz" parameterType="team.ljm.secw.entity.Clazz">
        update t_clazz set quiz_link=#{quizLink} where id=#{id}
    </update>

    <select id="selectQuiz" parameterType="Integer" resultType="java.lang.String">
        select a.quiz_link from t_clazz a where id=#{id}
    </select>

</mapper>